h1 {
    background-color: black;
    
}
.My{
    color: whitesmoke;
    text-align: left;
}
.Cloud {
    color: aqua;
    text-align: left;
}
h2{
    color: whitesmoke;
    background-color: violet;
    text-align: center;
    font-style: italic;
}
h3{
    text-align: right;
    text-decoration: underline;
    background-color: aqua;

}