<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>time display</title>
</head>
<body style=" margin-top: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div style="width: 200px; height: 30px; outline: 2px black solid; margin-bottom: 10px; display: flex;justify-content: center;align-items: center;">
        <p>the current time and date</p>
    </div>
    <div style="width: 800px; height: 100px; border: 2px black solid;display: flex; justify-content: center; align-items:center; font-size: 30px;">
        <p>{{time}}</p>
    </div>
</body>
</html>