<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>play ground</title>
    <link rel="stylesheet" href="playground.css">
</head>
<body style="margin:auto; display: flex; flex-direction: column;align-items: center; margin-top: 100px; justify-content: space-around;height: 300px;">
    <header style="font-size: 25px;font-weight: bold;">welcome !</header>
    <div style="display: flex; justify-content: space-between; width: 400px;">
        <div style="width: 100px; height: 100px; background-color: #9fc5f8;"></div>
        <div style="width: 100px; height: 100px; background-color: #9fc5f8;"></div>
        <div style="width: 100px; height: 100px; background-color: #9fc5f8;"></div>
    </div>
    
</body>
</html>