.card{
    height: 250px;
    width: 600px;
    margin: 0 auto;
    outline: 2px solid #a8dce4;
    margin-top: 20px;
    padding-bottom: 10px;
}

.header{
    background-color: #179fb4;
    height: 70px;
    width: 600px;
}

.body{
    background-color: rgb(255, 255, 255);
    height: 180px;
    width: 580px;
    padding: 10px;


}
.img{
    height: 60px;
    width: 60px;
    position: absolute ;
    top: 50px;
    left: 400px;

}
.location{
    height: 20px;
}
.settings{
    height: 20px;
}
h1{
    font-size: 20px;
}